<div class="m-2">
    <div class="work-wrapper">
        <div class="btn btn-success m-3" (click)="addWork()">Добавить работу</div>
        <div *ngFor="let work of plan.works" class="d-flex">
            <div class="d-inline-flex col-6">
                <div class="mr-3">
                    <label>Название работы</label>
                    <input class="form-control border-style" [(ngModel)]="work.name" type="text">
                </div>
                <div class="mr-3">
                    <label>Макс. баллов</label>
                    <input class="form-control border-style" [(ngModel)]="work.points" type="number">
                </div>
                <div (click)="toggleCriterias()">
                    <img src="assets/arrow.png" alt="" class="arrow-icon">
                </div>
            </div>
            <div class="col-6" *ngIf="isCriteraisShown">
                <div class="btn btn-primary" (click)="addCriteria(work)">Добавить критерий</div>
                <div class="d-flex" *ngFor="let criteria of work.criterias">
                    <div class="mr-3">
                        <label>Название критерия</label>
                        <input class="form-control border-style" [(ngModel)]="criteria.name" type="text">
                    </div>
                    <div>
                        <label>Балл</label>
                        <input class="form-control border-style" [(ngModel)]="criteria.points" type="number">
                    </div>
                </div>
            </div>
        </div>
        <div class="btn btn-warning" (click)="savePlan()">Save</div>
    </div>
    <h4>Предпросмотр</h4>
    <app-rating-table [works]='plan.works' [students]='students'></app-rating-table>
</div>