<div class="m-2">
    <div class="btn btn-success my-3" (click)="addWork()">Добавить работу</div>
    <div class="work-wrapper">
        <div *ngFor="let work of plan.works" class="d-flex">
            <div class="work-holder">
                <div class="mr-3">
                    <label>Название работы</label>
                    <input class="form-control border-style" [(ngModel)]="work.name" type="text">
                </div>
                <div class="mr-3">
                    <label>Макс. баллов</label>
                    <input class="form-control border-style" [(ngModel)]="work.points" type="number">
                </div>
                <div (click)="toggleCriterias()">
                    <img src="assets/arrow.png" alt="" class="arrow-icon">
                </div>
            </div>
            <div *ngIf="isCriteraisShown">
                
                <div class="criteria-holder" *ngFor="let criteria of work.criterias">
                    <div class="mr-3">
                        <label>Название критерия</label>
                        <input class="form-control border-style" [(ngModel)]="criteria.name" type="text">
                    </div>
                    <div>
                        <label>Балл</label>
                        <input class="form-control border-style" [(ngModel)]="criteria.points" type="number">
                    </div>
                    <div class="btn btn-primary mx-3" (click)="addCriteria(work)">Добавить</div>
                    <div class="btn btn-danger" (click)="removeCriteria(work, criteria)">Удалить</div>
                </div>
            </div>
        </div>
    </div>
    <div class="btn btn-warning my-3" (click)="savePlan()">Сохранить</div>
    <div class="btn btn-secondary m-3" [routerLink]="[ '/subjects' ]">Назад</div>
    <!-- <h4>Предпросмотр</h4> -->
    <!-- <app-rating-table [works]='plan.works' [students]='students'></app-rating-table> -->
</div>