.work-holder{
    max-height: 500px;
    overflow:auto;
}
.work-wrapper{
    height: 500px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px #dedede;
    overflow: auto;
    max-width: max-content;
    padding: 1em;
}
.arrow-icon{
    display: flex;
    vertical-align: bottom;
    margin-top: 2em;
    width: 30px;
    height: 30px;
}
.criteria-holder{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-bottom: 1em;
}
.work-holder{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 1em;
}