.work-holder{
    max-height: 500px;
    overflow:auto;
}
.work-wrapper{
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px #dedede;
    overflow: auto;
    max-width: max-content;
    padding: 1em;
    min-width: 35vw;
}
.arrow-icon{
    display: flex;
    vertical-align: bottom;
    margin-top: 2em;
    width: 30px;
    height: 30px;
}
.criteria-holder{
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    margin-bottom: 1em;
    margin-left: 200px;
}
.work-holder{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1em;
}
.type-select {
    width: 150px;
}
.content-wrapper{
    display: flex;
    flex-direction: column;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: max-content;
}
.img-holder {
    display: flex;
    align-items: center;
    // margin-left: 0.5em;
    // padding-bottom: 3px;
}