.checkbox-container {
    display: flex;
    margin-top: 1em;
  }
.page-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px #dedede;
    overflow: auto;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    min-width: 35vw;
    padding: 1em;
}
.user-block {
    display: flex;
    justify-content: center;
}
.buttons {
    display: flex;
}