<div>
    <h2 *ngIf="isCreate; else edit">Создание ведомости</h2>
    <ng-template #edit>
        <h2>Изменение ведомости</h2>
    </ng-template>
    <div>
        <div class="md-form">
            <label for="input-name">Название</label>
            <input mdbInput class="form-control border-style" id="input-name" [(ngModel)]="name" type="text">
        </div>
    </div>
    <div>Вид зачёта</div>
    <ng-select [(ngModel)]="examType">
        <ng-option *ngFor="let type of examTypes" [value]="type">
            {{ type.name }}
        </ng-option>
    </ng-select>
</div>
