<div class="mt-3 page-container central">
  <h2>Пользователи</h2>
  <div class="btn btn-info mb-3" [routerLink]="['add']">Добавить нового пользователя</div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Имя пользователя</th>
        <th scope="col">Email</th>
        <th scope="col">Роли</th>
        <th scope="col">Изменть</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!users.length">
        <td colspan="4">
          <h3 class="no-data">Нет ни одного пользователя!</h3>
        </td>
      </tr>
      <tr *ngFor="let user of users">
        <td>
          {{user.userName}}
        </td>
        <td>
          {{user.email}}
        </td>
        <td>{{bindRoles(user.roles)}}</td>
        <td>
          <div class="btn btn-info" [routerLink]="['edit',user.id]">Edit</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>