<div class="page-container central mt-3">
  <h2>Направления подготовки</h2>
  <div class="btn btn-info mb-3" [routerLink]="['add']">Добавить</div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Название</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!courses.length">
        <td colspan="4">
          <h3 class="no-data">Нет ни одного направления!</h3>
        </td>
      </tr>
      <tr *ngFor="let course of courses">
        <td>
          {{course.name}}
        </td>
        <td>
          <div class="btn btn-info" [routerLink]="['edit',course.id]">Изменить</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>