<nav class="navbar navbar-expand-lg navbar-dark bg-dark m-0">
    <a class="navbar-brand logo" href="#">A N T I G R A D E</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Главная <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/subjects']">Предметы<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/groups']">Группы<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Дополнительно
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" [routerLink]="['/institutes']">Институты</a>
                  <a class="dropdown-item" [routerLink]="['/courses']">Направления подготовки</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" [routerLink]="['/users']">Пользователи</a>
                  <a class="dropdown-item" [routerLink]="['/employees']">Сотрудники</a>
                </div>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Действия
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" [routerLink]="['/modes']">Сменить режим</a>
                  <a class="dropdown-item" [routerLink]="['/semester']">Новый семестр</a>
                </div>
            </li>
        </ul>
        <li class="nav-item dropdown user-dropdown">
            <a class="dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {{ currentUser.userName }}
            </a>
            <div class="dropdown-menu" aria-labelledby="userDropdownDropdown">
                <a class="dropdown-item" href="#" [routerLink]="['/users/edit',currentUser.id]">Профиль</a>
                <a class="dropdown-item" href="#" (click)="logout()">Выйти</a>
            </div>
        </li>
    </div>
</nav>

    <router-outlet></router-outlet>