<div class="subject-container">
    <div class="buttons m-3">
        <div class="btn btn-info mr-2" (click)="createOrUpdateSubject()">Сохранить</div>
        <div class="btn btn-info mr-2" (click)="importPlan()" data-toggle="modal" data-target="#chooseSubjectModal" *ngIf="!disabled">Импорт</div>
        <div class="btn btn-primary mr-2" (click)="toggleCommons()" [ngClass]="{'disabled': isCommonsVisible}">Общие сведения</div>
        <div class="btn btn-primary mr-2" (click)="togglePlan()" [ngClass]="{'disabled': isPlanVisible}">Мероприятия</div>
        <div class="btn btn-primary  mr-2" (click)="toggleTeachers()" [ngClass]="{'disabled': isTeachersVisible}">Преподаватели</div>
        <div class="btn btn-primary mr-2" (click)="toggleGroup()" [ngClass]="{'disabled': isGroupVisible}">Группа</div>
    </div>
    <div class="items" *ngIf="loaded">
        <div class="commons" [ngClass]="{'d-none': !isCommonsVisible}">
            <app-subject-commons [subjectId] = "subjectId" [subject] = "subject" (changeExamType) = "changeType($event)" [disabled] = "disabled"></app-subject-commons>
        </div>
        <div class="plan" [ngClass]="{'d-none': !isPlanVisible}">
            <app-add-edit-plan [subjectId] = "subjectId" [subject] = "subject"  [currentExamType] = "currentExamType" [disabled] = "disabled"></app-add-edit-plan>
        </div>
        <div class="teachers" [ngClass]="{'d-none': !isTeachersVisible}">
            <app-teachers [subjectId] = "subjectId" [subject] = "subject" [disabled] = "disabled"></app-teachers>
        </div>
        <div class="group" [ngClass]="{'d-none': !isGroupVisible}">
            <app-group [subjectId] = "subjectId" [subject] = "subject" [disabled] = "disabled"></app-group>
        </div>
    </div>
    
</div>

<!-- Modal -->
<div class="modal fade" id="chooseSubjectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Выберите предмет</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="mb-3">
            <ng-select [(ngModel)]="currentSemester" (change) = "importPlan()">
                <ng-option *ngFor="let semester of semesters" [value] = "semester" appendTo="body">
                    {{ semester.name }}
                </ng-option>
            </ng-select>
        </div>
        <div *ngFor="let item of filledSubjects" class="d-flex justify-content-between align-items-center mb-1">
            <div>
                {{item.name}} 
                ({{item.group.name}})
            </div>
            <div class="btn btn-info" data-dismiss="modal" (click)="getAnotherSubject(item.id)">+</div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
    </div>
    </div>
</div>
</div>