<div class="container-fluid row">
    <div class="col-6">
        <form (ngSubmit)="onSubmit()" [formGroup]="form">
            <h2 *ngIf="isCreate; else edit">Создание дисциплины</h2>
            <ng-template #edit>
                <h2>Изменение дисциплины</h2>
            </ng-template>
            <div>
                <label for="input-name">Название</label>
                <input class="form-control border-style" formControlName="name" id="input-name" [(ngModel)]="subject.name"
                    [ngClass]="{ 'is-invalid': isInputHasErrors(controls.name) }" type="text">
                <div *ngIf="isInputHasErrors(controls.name)" class="invalid-feedback">
                    <div *ngIf="controls.name.errors.required">Название обязательно</div>
                </div>
                <small class="form-text text-muted">
                    Введите название дисциплины
                </small>
            </div>
            <div>Вид зачёта</div>
            <ng-select formControlName="examType" [(ngModel)]="subject.examTypeId">
                <ng-option *ngFor="let type of examTypes" [value] = "type.id">
                    {{ type.name }}
                </ng-option>
            </ng-select>
            <div>Список преподавателей</div>
            <ng-multiselect-dropdown formControlName="teachers" [data]="teachers" [(ngModel)]="subject.teachers"
                [settings]="dropdownSettings">
            </ng-multiselect-dropdown>
            <div>Составитель учебного плана</div>
            <ng-select [searchable]="false" formControlName="mainTeacher"  [(ngModel)]="subject.mainTeacher">
                <ng-option *ngFor="let mTeacher of subject.teachers" [value] = "mTeacher">
                    {{mTeacher.fullName}}
                </ng-option>
            </ng-select>
            <div class="buttons">
                <button type="submit" class="btn btn-success">Save</button>
                <button type="button" [routerLink]="[ '/subjects' ]" class="btn btn-dark">Cancel</button>
            </div>
        </form>
    </div>
</div>
