@media all and (min-width: 768px) {
    tr  {
      td {
        vertical-align: middle !important;
      }
      span {
        &:not([class]) {
          padding: 1rem 1rem;
        }
      }
    }
  }
  .check {
      justify-content: center;
  }
.off-limits {
    background-color: #e68787c7;
    color: white;
}
.disabled {
    background-color: darkgray !important;
    color: white;
}