@media all and (min-width: 768px) {
    tr  {
      td {
        vertical-align: middle !important;
      }
      span {
        &:not([class]) {
          padding: 1rem 1rem;
        }
      }
    }
  }
  .check {
      justify-content: center;
  }
.off-limits {
    background: #e68787c7;
    color: white;
}
.disabled {
    background: #a9a9a96b !important;
    color: white;
}
.e-container {
  display: flex;
  justify-content: center;
}
.m-auto {
  margin: 0 auto;
}