@media all and (min-width: 768px) {
    tr  {
      td {
        vertical-align: middle !important;
      }
      span {
        &:not([class]) {
          padding: 1rem 1rem;
        }
      }
    }
  }
.rating-holder{
  display: flex;
  width: 100%;
  overflow: auto;
}
.cell {
  display: table-cell;
}