<div class="container-fluid mt-2 table-editable">
  <table class="table table-bordered table-responsive-md table-striped text-center">
    <thead>
      <tr>
        <th>
          Студент
        </th>
        <th *ngFor="let work of works">
          {{work.name}}
        </th>
        <th>
          Итого
        </th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of data">
          <td>
            {{row.currentStudent.lastName}}
          </td>
          <td *ngFor="let sWork of row.works">
            <span (keyup)="changeValue(sWork, $event)"
              (blur)="updateWorkPoints(sWork, $event)" contenteditable="true">{{sWork.sumOfPoints}}
            </span>
          </td>
          <td>
          </td>
        </tr>
    </tbody>
  </table>
  <div class="btn btn-success" (click)="updateRating()"> submit</div>
</div>