<div class="container-fluid mt-2 table-editable">
  <table class="table table-bordered table-responsive-md table-striped text-center">
    <thead>
      <tr>
        <th>
          Студент
        </th>
        <th *ngFor="let work of works">
          {{work.name}}
        </th>
        <th>
          Итого
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>
          {{student.lastName}}
        </td>
        <td *ngFor="let work of works">
          <span (keyup)="changeValue(work.id, student.id, $event)" (blur)="updateList(work.id, student.id, $event)"
            contenteditable="true">{{work.points}}
          </span>
        </td>
        <td>
        </td>
      </tr>
    </tbody>
  </table>
</div>
