<div class="page-container central mt-3">
  <h2>Сотрудники</h2>
  <div class="btn btn-info mb-3" [routerLink]="['add']">Добавить нового сотрудника</div>
  <div *ngIf="institutes.length">
    <ng-select appendTo="body" placeholder="Институт" class="type-select mb-3"  [(ngModel)]="currentInstitute">
      <ng-option *ngFor="let institute of institutes" [value]="institute">
        {{ institute.name }}
      </ng-option>
    </ng-select>
    <ng-select [(ngModel)]="currentDepartment" appendTo="body" placeholder="Кафедра" class="type-select mb-3" (change) = "getDepartmentEmployees($event)">
      <ng-option *ngFor="let department of currentInstitute.departments" [value]="department">
        {{ department.name }}
      </ng-option>
    </ng-select>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Фамилия</th>
        <th scope="col">Имя</th>
        <th scope="col">Отчество</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!employees.length">
        <td colspan="4">
          <h3 class="no-data">Нет ни одного сотрудника!</h3>
        </td>
      </tr>
      <tr *ngFor="let employee of employees">
        <td>
          {{employee.lastName}}
        </td>
        <td>
          {{employee.firstName}}
        </td>
        <td>{{employee.patronymic}}</td>
        <td>
          <div class="btn btn-info" [routerLink]="['edit',employee.id]">Изменить</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
