<div class="container-fluid teacher-container">
    <div>Список преподавателей</div>
    <ng-multiselect-dropdown [data]="employees" [(ngModel)]="selectedEmployees" [settings]="dropdownSettings"
        (onSelect)="onItemSelect($event)" (onDeSelect)="onItemDeSelect($event)" class="multiselect">
    </ng-multiselect-dropdown>
    <div class="teachers mt-3" *ngIf="subjectEmployees.length">
        <div *ngFor="let teacher of subjectEmployees" class="se-holder">
            <div class="info-holder">
                <div class="mr-2 teacher">
                    <label>Преподаватель</label>
                    <ng-select [(ngModel)]="teacher.employeeId" appendTo="body" class="type-select">
                        <ng-option *ngFor="let teacher of employees" [value]="teacher.id">
                            {{ teacher.fullName }}
                        </ng-option>
                    </ng-select>
                </div>
                <div class="status">
                    <label>Роль</label>
                    <ng-select [(ngModel)]="teacher.statuses" appendTo="body" class="type-select" multiple = "true" bindLabel = "teacher.firstName">
                        <ng-option *ngFor="let status of statusList" [value]="status">
                            {{ status.name }}
                        </ng-option>
                    </ng-select>
                </div>
                <div class="img-holder" (click)="removeSubjectEmployee(teacher)">
                    <img src="assets/remove.png" alt="" class="del-img">
                </div>
            </div>
        </div>
    </div>
</div>

