.teachers {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px #dedede;
    overflow: auto;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    padding: 1em;
}
.status, .teacher {
    width: 300px;
}
.se-holder {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    align-items: center;
}
.del-img {
    width: 30px;
    height: 30px;
}
.img-holder {
    display: flex;
    align-items: flex-end;
    margin-top: 30px;
}

.teacher-container {
    max-width: max-content;
    min-width: 35vw;
}
.info-holder {
    display: flex;
    align-items: flex-start;

}
@media(max-width:800px) {
    .info-holder {
        flex-direction: column;
    }
    .status, .teacher {
        width: 100%;
    }
    .multiselect-dropdown {
        min-width: 100%;
    }
}
