<div class="page-container central mt-3">
    <h1>Группы</h1>
    <div class="group-container">
        <div *ngFor="let group of groups" class="card group-holder mr-3 mb-3">
            <div class="card-header">
                <h3 class="card-title">
                    {{group.name}}
                </h3>
            </div>
            <div class="card-body group-body">
                <div class="buttons mt-3">
                    
                    <div *ngIf="group.students.length" class="btn btn-success" [routerLink]="[ 'edit', group.id ]">
                        Редактировать список
                    </div>
                    <div *ngIf="!group.students.length" class="btn btn-success" [routerLink]="[ 'edit', group.id ]">
                        Добавить список
                    </div>
                    <div class="btn btn-danger mt-3" (click)="deleteGroup(group.id)">
                        Удалить группу
                    </div>
                </div>
            </div>
        </div>
     
    </div>
    <div class="btn btn-primary" [routerLink]="[ '/groups/add' ]">
            Добавить
    </div>
</div>
