<div class="page-block">
    <div class="form-block col-12 col-lg-7 col-xl-5" [ngClass]="{ 'create-form' : isCreateMode}">
                <form (ngSubmit)="onSubmit()" [formGroup]="addUserForm" autocomplete="off">
                    <div>
                        <label for="userName">User name</label>
                        <input id="userName" class="form-control" type="text" formControlName="userName"
                            [ngClass]="{ 'is-invalid': isInputHasErrors(form.userName)}">
                        <div *ngIf="isInputHasErrors(form.userName)" class="invalid-feedback">
                            <div *ngIf="form.userName.errors">User name is null or have whitespace</div>
                            <div *ngIf="form.userName.errors.maxlength">User name is too long</div>
                        </div>
                        <small  class="form-text text-muted">
                            Enter the user name
                        </small>
                    </div>
                    <div>
                        <label for="email">Email</label>
                        <input id="email" class="form-control" type="email" formControlName="email"
                            [ngClass]="{ 'is-invalid': isInputHasErrors(form.email)}">
                        <div *ngIf="isInputHasErrors(form.email)" class="invalid-feedback">
                            <div *ngIf="form.email.errors.required || form.email.errors.maxlength">Email is null or
                                too long</div>
                            <div *ngIf="form.email.errors.email">Email must be a valid email address</div>
                        </div>
                        <small  class="form-text text-muted">
                            Enter the email
                        </small>
                    </div>
                    <div>
                        <label for="input-category">Role</label>
                        <!-- <div [ngClass]="{ 'role-field': !isNotCurrentAdminProfile }"> -->
                        <div>
                            <ng-select [searchable]="false" bindLabel="name" bindValue="name" formControlName="role"
                                [ngClass]="{ 'is-invalid': isInputHasErrors(form.role)}"
                                [multiple]="true" [closeOnSelect]="false">
                                <ng-option *ngFor="let role of roles" [value]="role">{{ role.name }}</ng-option>
                            </ng-select>
                            <div *ngIf="isInputHasErrors(form.role)" class="invalid-feedback">
                                <div *ngIf="form.role.errors.required">Role is required</div>
                            </div>
                            <!-- <small *ngIf="isNotCurrentAdminProfile" class="form-text text-muted">
                                Select role for the user
                            </small> -->
                        </div>
                    </div>
                    <div class="checkbox-container" *ngIf="isShowChangePassword">
                        <label for="changePassword">Change password</label>
                        <div class="material-switch pl-1">
                            <input id="changePassword" type="checkbox" (change)="changePassword($event)" />
                            <label for="changePassword"></label>
                        </div>
                    </div>
                    <div *ngIf="showOldPasswordInput">
                        <label for="input-category">Old password</label>
                        <input class="form-control border-style" type="password" formControlName="oldPassword"
                            [ngClass]="{ 'is-invalid': isInputHasErrors(form.oldPassword) }">
                        <div *ngIf="isInputHasErrors(form.oldPassword)" class="invalid-feedback">
                            <div *ngIf="form.oldPassword.errors">
                                Password between 8 and 20 characters must contain at least one lowercase letter, one
                                uppercase letter, one numeric digit.</div>
                        </div>
                        <small class="form-text text-muted">
                            Enter the old password
                        </small>
                    </div>
                    <div>
                        <label for="input-category">Password</label>
                        <input class="form-control border-style" type="password" formControlName="newPassword"
                            [ngClass]="{ 'is-invalid': isInputHasErrors(form.newPassword) }" autocomplete="new-password">
                        <div *ngIf="isInputHasErrors(form.newPassword)" class="invalid-feedback">
                            <div *ngIf="form.newPassword.errors">
                                Password between 8 and 20 characters must contain at least one lowercase letter, one
                                uppercase letter, one numeric digit.</div>
                        </div>
                        <!-- <small class="form-text text-muted">
                            Enter the new password
                        </small> -->
                    </div>
                    <div *ngIf="showPasswords">
                        <label for="input-category">Confirm password</label>
                        <input class="form-control border-style" type="password" formControlName="confirmPassword">
                        <div *ngIf="mustMatch" class="invalid">
                            Passwords doesn't match.
                        </div>
                        <small class="form-text text-muted">
                            Confirm the new password
                        </small>
                    </div>
                    <div *ngIf="checked">
                        <label for="input-name">Gitlab name</label>
                        <input class="form-control border-style" type="text" formControlName="gitlabName"
                            [ngClass]="{ 'is-invalid': isInputHasErrors(form.gitlabName)}">
                        <div *ngIf="isInputHasErrors(form.gitlabName)" class="invalid-feedback">
                            <div *ngIf="form.gitlabName.errors">Name is null</div>
                            <div *ngIf="form.gitlabName.errors.maxlength">Name is too long</div>
                        </div>
                        <small class="form-text text-muted">
                            Enter the user name
                        </small>
                    </div>
                    <div class="buttons mt-2">
                        <button type="submit" class="btn-success btn btn-primary">Save</button>
                        <button type="submit" *ngIf="isShowDeleteButton" (click)="isDeleteMode = true"
                            class="btn-danger btn btn-primary">Delete</button>
                        <button type="button" routerLink="" class="btn btn-dark">Cancel</button>
                    </div>
                </form>
    </div>
</div>
