.off-limits {
    background: #e68787c7;
    color: white;
}
.disabled {
    background: #a9a9a96b;
    td{
        color: white;
    }
}
.work-header {
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -o-pre-wrap; /* Opera */
    white-space: pre-wrap; /* Chrome */
    word-wrap: break-word; /* IE */
}
.readonly-cell {
    height: 45px;
}