<table class="table table-bordered table-responsive-md table-striped text-center">
  <thead>
    <tr>
      <th colspan="100%">
        {{title}}
      </th>
    </tr>
      <tr>
        <ng-container *ngFor="let work of works">
        <th>
          <div  *ngIf="work.criterias.length && !isAdditionalPageMode" type="button" (click) = "selectWork(work.id)" class="">
            {{work.name}} 
            <fa-icon [icon]="faPencilAlt" [ngClass]="{'free': canRate(work),'closed': !canRate(work)}"></fa-icon>
          </div>
          <div  *ngIf="!work.criterias.length || isAdditionalPageMode">
            {{work.name}} 
          </div>
        </th>
        </ng-container>
      </tr>
      <tr>
        <ng-container *ngFor="let work of works">
        <th>
          <small>Max: {{work.points}}</small>
        </th>
        </ng-container>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data">
      <ng-container *ngIf="isDisabled; else elseTemplate">
        <td *ngFor="let sWork of row.studentWorks" class = "readonly-cell">
          {{sWork.sumOfPoints}}
        </td>
      </ng-container>
      <ng-template #elseTemplate>
        <td *ngFor="let sWork of row.studentWorks" (keydown.enter)="$event.target.blur();"
          (blur)="updateWorkPoints(sWork, $event)" contenteditable="true">
          {{sWork.sumOfPoints}}
        </td>
      </ng-template>
    </tr>
  </tbody>
</table>
