<table class="table table-bordered table-responsive-md table-striped text-center" [ngClass]="{'disabled': disabled}">
  <thead>
    <tr>
      <th colspan="100%">
        {{title}}
      </th>
    </tr>
    <tr>
      <th *ngFor="let work of works">
        <div class="d-flex">
          <div>
            {{work.name}} 
          </div>
          <div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click) = "selectWork(work.id)"
            *ngIf="work.criterias.length">
              modal
            </button>
          </div>
        </div>
        <small>Max: {{work.points}}</small>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data">
      <ng-container *ngIf="disabled; else elseTemplate">
        <td *ngFor="let sWork of row.studentWorks">
          {{sWork.sumOfPoints}}
        </td>
      </ng-container>
      <ng-template #elseTemplate>
        <td *ngFor="let sWork of row.studentWorks" (keydown.enter)="$event.target.blur();"
          (blur)="updateWorkPoints(sWork, $event)" contenteditable="true">
          {{sWork.sumOfPoints}}
        </td>
      </ng-template>
    </tr>
  </tbody>
</table>
<!-- <div *ngIf="selected">
  <app-criterias [workId] = "selectedWork.id" [criterias] = "selectedWork.criterias" [students] = "students"></app-criterias>
</div> -->
<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
   
        <div *ngIf="selected">
          <app-criterias [workId] = "selectedWork.id" [criterias] = "selectedWork.criterias" [students] = "students"></app-criterias>
        </div>
       
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->