/* You can add global styles to this file, and also import other style files */
//@import "kendo-overwriting.scss";
//@import "~bootstrap/dist/css/bootstrap.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

.page-container{
    margin: 1em;
    margin-right: 1em;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.multiselect-dropdown {
    min-width: 300px;
}
.page-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px #dedede;
    overflow: auto;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    padding: 1em;
    min-width: 35vw;
    white-space: nowrap;
  }
.central {
 margin: 0 auto;
}
.no-overflow {
    overflow: unset !important;
}
// .ng-select>div {
//     border: 0!important;
//     border-radius: 0!important;
//     border-bottom: 1px solid #ced4da !important;
//     box-shadow: none!important;
//     padding: 0!important;
//     margin-top: 1px;
// }
body{
    background-color: #F0F8FB !important;
}