.student-row {
    display: flex;
}
// .st-header {
//     display: flex;
// }

.del-img {
    width: 30px;
    height: 30px;
}
.img-holder {
    display: flex;
    align-items: flex-end;
    padding-bottom: 5px;
}