<div class="g-container">
    <div class="page-container">
        <h2 *ngIf="isCreate; else edit">Создание группы</h2>
        <ng-template #edit>
            <h2>Изменение группы</h2>
        </ng-template>
        <div>
            <ng-select [(ngModel)]="group.course" appendTo="body" placeholder="Направление" class="type-select mb-3">
                <ng-option *ngFor="let course of courses" [value]="course">
                  {{ course.name }}
                </ng-option>
            </ng-select>
        </div>
        <div>
            <label for="input-name">Название</label>
            <input class="form-control border-style" id="input-name" [(ngModel)]="group.name" type="text">
        </div>
        <div class="buttons mt-3 d-flex justify-content-center">
           
                <button type="submit" class="btn btn-success w-100 mr-3" (click)="onSubmit()">Сохранить</button>
                <button type="button" routerLink="" class="btn btn-dark w-100">Отмена</button>
        </div>
        <div class="group-students">
            <div class="st-header ">
                <h2 class="mb-1">Список студентов</h2>
            <div class="student-row mt-3" *ngFor="let student of group.students">
                <div class="mr-3">
                    <label for="input-last">Фамилия</label>
                    <input class="form-control border-style" id="input-last" type="text" [(ngModel)]="student.lastName">
                </div>
                <div class="mr-3">
                    <label for="input-first">Имя</label>
                    <input class="form-control border-style" id="input-first" type="text"
                        [(ngModel)]="student.firstName">
                </div>
                <div>
                    <label for="input-first">Отчество</label>
                    <input class="form-control border-style" id="input-first" type="text"
                        [(ngModel)]="student.patronymic">
                </div>
                <div class="img-holder" (click)="removeStudent(student)">
                    <img src="assets/remove.png" alt="" class="del-img">
                </div>
            </div>
            
            <div class="btn btn-primary mt-3" (click)="addStudent()">Добавить</div>
        </div>

        </div>
    </div>
</div>
