.student-row {
    display: flex;
}
.st-header {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.del-img {
    width: 30px;
    height: 30px;
}
.img-holder {
    display: flex;
    align-items: flex-end;
    padding-bottom: 5px;
}
.g-container{
    display: flex;
    justify-content: center;
}

.page-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px #dedede;
    overflow: auto;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    padding: 1em;
    min-width: 35vw;
}
