<div class="page-container mt-3">
    <!-- <h1>Ведомости</h1>
    <div class="row">
        <div class="group-container col-6">
            <h3 class="mb-2">Предмет 1</h3>
            <div class="">
                <div class="card group-card">
                    <div class="card-body">
                        <h5 class="card-title">КТбо4-7</h5>
                    </div>
                    <div class="card-header color-header"></div>
                </div>
            </div>
        </div>
        <div class="col-6">
        </div>
    </div> -->
    <div class="display-1 not-found">Здесь Ничего Нет</div>
</div>