<div class="d-container" id="rejim">
    <div class="page-container mt-3" >
        <h1>Режим работы</h1>
        <ng-select [(ngModel)]="mode">
            <ng-option *ngFor="let workMode of modes" [value] = "workMode" appendTo="body">
                {{ workMode.name }}
            </ng-option>
        </ng-select>
        <div class="btn btn-info mt-3" (click)="updateCurrentMode()">Обновить режим работы</div>
    </div>
    <div class="page-container mt-3" >
        <h1>Семестр</h1>
        <ng-select [(ngModel)]="currentSemester">
            <ng-option *ngFor="let semester of semesters" [value] = "semester" appendTo="body">
                {{ semester.name }}
            </ng-option>
        </ng-select>
    </div>
    <div class="page-container mt-3" *ngIf="mode.id === 1">
        <h1>Текущий учет</h1>
        <div *ngFor="let item of subjectGroups" class="mt-3 subject-container">
            <h3 class="mb-3">{{item.subjectName}}</h3>
            <div class="s-container">
                <div class="card group-card mb-3" *ngFor="let subject of item.subjects">
                    <h3 class="group-title">{{subject.group.name}}</h3>
                    <div class="buttons d-flex flex-column">
                        <div class="btn btn-warning" [routerLink]="[ '/subjects/rating', subject.id ]">Рейтинг</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-container mt-3" *ngIf="mode.id === 2">
        <h1>Сессия</h1>
        <div *ngFor="let item of subjectGroups" class="mt-3 subject-container">
            <ng-container *ngIf="item.subject.examType.id === 1">
                <h3 class="mb-3">{{item.subjectName}}</h3>
                <div class="s-container ">
                    <div class="card group-card" *ngFor="let subject of item.subjects">
                        <h3 class="group-title">{{subject.group.name}}</h3>
                        <div class="buttons d-flex flex-column">
                            <div class="btn btn-primary mb-2" [routerLink]="[ '/subjects/exam', subject.id ]">Экзамен</div>
                            <div class="btn btn-warning" [routerLink]="[ '/subjects/rating', subject.id ]">Рейтинг</div>
                        </div>
                    </div>

                </div>
            </ng-container>
        </div>
    </div>
    <div class="page-container mt-3" *ngIf="mode.id === 3">
        <h1>Добор и пересдача</h1>
        <div *ngFor="let item of subjectGroups" class="mt-3 subject-container">
            <h3 class="mb-3">{{item.subjectName}}</h3>
            <div class="s-container ">
                <div class="card group-card" *ngFor="let subject of item.subjects">
                    <h3 class="group-title">{{subject.group.name}}</h3>
                    <div class="buttons d-flex flex-column">
                        <div class="btn btn-success mb-2" *ngIf="subject.examType.id === 1">Пересдача</div>
                        <div class="btn btn-danger mb-2">Добор</div>
                        <div class="btn btn-warning" [routerLink]="[ '/subjects/rating', subject.id ]">Рейтинг</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template  *ngIf="!subjectGroups.length">
        Нет данных
     </ng-template>
</div>
