<div class="container-fluid">
    <h1>Предметы</h1>
    <div class="subject-container">
        <div *ngFor="let subject of subjects" class="card subject-card">
            <div class="card-header d-flex justify-content-between">
                <h5 class="card-title">
                    {{subject.name}}
                    <div *ngIf="subject.group">
                        {{subject.group.name}}
                    </div>
                </h5>
                <div class="btn btn-danger ml-1" (click)="removeSubject(subject)">
                    Удалить
                </div>
            </div>
            <div class="card-body">
                <div class="buttons">
                    <div  class="btn btn-warning" [routerLink]="['rating',subject.id]">Оценки</div>
                    <div class="btn btn-info" [routerLink]="['edit',subject.id]"> Изменить</div>
                </div>
            </div>
        </div>
        <div class="link-holder">
            <a [routerLink]="[ 'add' ]">
                <img src="assets/add.png" alt="" class="link-img">
            </a>
        </div>
    </div>
</div>