
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Критерии</h2>
        
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-responsive-md table-striped text-center">
          <thead>
            <tr>
              <th>
                Студент
              </th>
              <th *ngFor="let criteria of criterias">
                {{criteria.name}}
                <small>Max: {{criteria.points}}</small>
              </th>
              <th>
                Всего
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of data">
              <td>
                {{row.currentStudent.lastName}} {{row.currentStudent.firstName}}
              </td>
              <td *ngFor="let sCrit of row.criterias" (keydown.enter)="$event.target.blur();"
                (blur)="updateCriteriaPoints(sCrit, $event)" contenteditable="true">
                {{sCrit.points}}
              </td>
              <td>
                {{row.sumOfPoints}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
     
      <!-- <div class="btn btn-info" (click)="updateStudentCriteria()">Save</div> -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="activeModal.close()">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateStudentCriteria()">Save changes</button>
      </div>

