.e-container {
    display: flex;
    justify-content: center;
}
.del-img {
    width: 30px;
    height: 30px;
}
.img-holder {
    display: flex;
    align-items: flex-end;
    padding-bottom: 5px;
}
.departments-holder {
    display: flex;
}